body {
    font-family: "Kaushan Script", cursive;
}

header {
    i {
        padding-right: 10px;
    }

    nav {
        display: flex;
        align-items: center;
        padding: 0 1%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        z-index: 500;
    }

    .logo {
        width: 5%;
    }

    .center {
        width: 74%;
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: #ef7998;
            padding: 0 1%;
            font-size: 1.5rem;
            transition: all 0.5s;

            &:hover {
                color: black;
            }
        }
    }

    .end {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .shopping-button {
        color: black;
        border: 1px solid black;
        border-radius: 6px;
        padding: 5px;
        background: none;
        transition: all 0.5s;

        &:hover {
            color: white;
            background-color: #ef7998;
            border: white;
        }
    }

    .back {
        min-height: calc(100vh - 76px);
        background: linear-gradient(rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)), url(/image/filter-javascript-project/headerBcg.jpg) center/cover fixed no-repeat;
        display: flex;
        justify-content: center;
        padding-top: 6%;
        margin-top: 50px;

        h1 {
            font-size: 2.5rem;
            color: white;
        }

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

strong {
    color: #ef7998;
    font-size: 4rem;
}

.h1-black {
    font-size: 2.5rem;
    color: black;
}

.my-btn {
    text-decoration: none;
    color: black;
    border: 4px solid black;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 10px auto;
    background: none;

    &:hover {
        color: #ef7998;
        background: black;
    }
}

#about-as {
    margin: 10% 15%;
    display: flex;

    div {
        width: 50%;
        margin: 0 3%;
    }

    .about-img__container {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
        }

        &::before {
            content: "";
            position: absolute;
            top: -1.5rem;
            left: -1.7rem;
            width: 100%;
            height: 100%;
            outline: 0.5rem solid #f9e494;
            z-index: -1;
            transition: all 1s ease-in-out;
        }

        &:hover {
            &::before {
                top: 0;
                left: 0;
            }
        }
    }
}

#filter {
    padding: 3% 15%;
    display: flex;
    background: #eee;

    .wrap {
        width: 100%;
    }

    .wrap h1 {
        text-align: center;
        margin: auto;
    }

    .choice {
        .first {
            margin-top: 2%;
            display: flex;
        }

        .second {
            display: flex;

            div {
                display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                margin-top: 2%;
            }

            i {
                background: #ef7998;
                padding: 7px;
            }
        }
    }

    .show-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 30%;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin: 1%;
            display: flex;
            flex-direction: column;
            background: white;

            img {
                width: 100%;
                border-top-left-radius: calc(.25rem - 1px);
                border-top-right-radius: calc(.25rem - 1px);
                cursor: pointer;
            }

            .wrap {
                display: flex;
                align-items: center;
                margin: 5% auto;
                width: 80%;
                justify-content: space-between;

                .wrap-cost-and-buy {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .buy {
                        padding: 0px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: none;
                        background: #ef7998;
                        margin-right: 10px;
                        color: black;
                        transition: all 0.8s;

                        &:hover {
                            color: #ef7998;
                            background: white;
                            box-shadow: 0px 0px 10px;
                        }
                    }

                    .cost {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.my-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000bd;
    flex-direction: column;
    z-index: 501;

    .wrap-slider {
        width: 35%;
        height: 50%;
        position: relative;
        padding: 0 0.5%;

        .slider {
            width: 100%;
            height: 100%;
            border: 3px solid #ef7998;
            border-radius: 13px;
            position: relative;
            overflow: hidden;
            transition: all 0.8s;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: all 0.8s;
                position: absolute;
                top: 0;
            }
        }

        .left {
            transform: rotate(90deg);
            position: absolute;
            left: 0;
        }

        .right {
            transform: rotate(-90deg);
            position: absolute;
            right: 0;
        }

        .btn:focus,
        .btn.focus {
            box-shadow: none;
        }

        .left,
        .right {
            color: #fff;
            background-color: #ef7998;
            border-color: #ef7998;
            top: 45%;

            &:hover {
                background-color: rgb(249, 228, 148);
                border-color: rgb(249, 228, 148);
            }
        }
    }

    .wrap-close-button {
        width: 34%;
        display: flex;
        flex-direction: row-reverse;

        i {
            font-weight: 900;
            font-size: -webkit-xxx-large;
            color: #ef7998;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                color: rgb(249, 228, 148);
            }
        }
    }
}

#shoping-cart {
    width: 15%;
    position: fixed;
    top: 50px;
    right: 0;
    padding-top: 40px;
    background: #ffffff91;

    h5 {
        padding-bottom: 20px;
        text-align: center;
    }

    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        p {
            margin: 0;
            display: flex;
            flex-direction: column;

            span {
                font-weight: 700;
            }
        }

        i {
            color: #ef7998;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                color: black;
            }
        }

        input {
            width: 20%;
            text-align: center;
        }
    }

    .cost {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .buttons-options {
        display: flex;

        .my-btn {
            padding: 0 10px;
        }
    }
}